
@{
    ViewData["Title"] = "Employee";
}



<div class="text-center" >
    <h1 class="display-4">Welcome</h1>
    
    <div >

        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: peachpuff; " asp-controller="Employee" asp-action="GetAllLeaveType">List Of Leave Type</a></h2>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: peachpuff; " asp-controller="Employee" asp-action="ApplyPLeave">Apply For Planned Leave</a></h2>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: peachpuff; " asp-controller="Employee" asp-action="CancelPlannedLeave">Cancel Planned Leave</a></h2>
    </div>
</div>