
@{
    ViewData["Title"] = "Admin";
}

<h1>Welcome Admin</h1>
<div>
    <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: peachpuff; " asp-controller="Admin" asp-action="GetAllEmployee">Employee List</a></h2>
    <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: peachpuff; " asp-controller="Employee" asp-action="GetAllLeaveType">Leave Type List</a></h2>
    <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: peachpuff; " asp-controller="Admin" asp-action="AddEmployee">Add New Employee Detail</a></h2>
</div>

