
@{
    ViewData["Title"] = "Admin";
}

<div class="text-center" >
    <h1 class="display-4">Welcome  Admin</h1>

    
    <div>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: peachpuff; " asp-controller="Admin" asp-action="GetAllEmployee">Employee List</a></h2>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: peachpuff; " asp-controller="Employee" asp-action="GetAllLeaveType">Leave Type List</a></h2>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: peachpuff; " asp-controller="Admin" asp-action="AddEmployee">Add New Employee Detail</a></h2>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: peachpuff; " asp-controller="Employee" asp-action="CancelPlannedLeave">Cancel planned Leave</a></h2>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: peachpuff; " asp-controller="Admin" asp-action="UpdateEmployee">Approve Leave</a></h2>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: peachpuff; " asp-controller="Employee" asp-action="GetApplication">Leave Application</a></h2>
        
    </div>
</div>
